
  body {
    margin: 0;
    padding: 0;
    background: url(../assets/img/fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 90vh;
  }
  
  .login-box {
    width: 350px;
    height: 430px;
    background: #e7e3e9;
    color: rgb(206, 178, 178);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 45px 30px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }

  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(165, 160, 160);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(187, 187, 187);
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #161616;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #aa92eb;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
  }
  
  .login-box a:hover {
    color: rgb(160, 153, 153);
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #a36dd6;
    color: #000;
  }

  .social-login{
    float: left;
    width: 220%;
    height:auto;
    padding: 10px 0 15px 0;
    
  }

  .social-login a{
    position:relative;
    float: left;
    width:calc(40% - 8px);
    text-decoration: none;
    color: rgb(172, 170, 170);
    padding: 12px;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align:center;
  }
  .social-login a i{
    position: relative;
    float: left;
    width: 13px;
    top: 2px;
  } 
  .social-login a:first-child{
    background-color: #B8DFD8;
    
  }
  .social-login a:last-child{
    background-color: #B8DFD8;
  }

  .social-login a:first-child:hover {
    cursor: pointer;
    background: #c092eb;
    color: #000;
  }

  .social-login a:last-child:hover {
    cursor: pointer;
    background: #af79f5;
    color: #000;
  }

